<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCoQ4OgexTYejNT09YbtfiXWvDZ-C5eqkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>965321606760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Journal-App-2024</string>
	<key>PROJECT_ID</key>
	<string>journal-app-6563e</string>
	<key>STORAGE_BUCKET</key>
	<string>journal-app-6563e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965321606760:ios:bdd8e4731fc5a518881ddd</string>
</dict>
</plist>